 #chatContainer::-webkit-scrollbar {
     width: 6px;
 }

 #chatContainer::-webkit-scrollbar-thumb {
     background: #c7d2fe;
     border-radius: 10px;
 }

 #chatContainer::-webkit-scrollbar-track {
     background: transparent;
 }

 @keyframes fadeIn {
     from {
         opacity: 0;
         transform: translateY(10px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .animate-fade-in {
     animation: fadeIn 0.4s ease-out;
 }